In [62]:
import pandas as pd
import numpy as np
# Load the dataset
df = pd.read_csv("C:/Users/acer/Downloads/PHL-PSA-NMS-2018-PUF/NMS PUF 2018  Individual.csv")

# Select relevant columns
df1 = df[['C305PROV', 'G701PROV']]
df1.columns = ['PreviousResidence_Code', 'CurrentResidence_Code']

# Filter rows
# Function to replace non-numeric values with NaN
def replace_non_numeric_with_na(series):
    return pd.to_numeric(series, errors='coerce')

# Apply the function to the specified columns
df1['PreviousResidence_Code'] = replace_non_numeric_with_na(df1['PreviousResidence_Code'])
df1['CurrentResidence_Code'] = replace_non_numeric_with_na(df1['CurrentResidence_Code'])

C:\Users\acer\AppData\Local\Temp\ipykernel_26752\2184951454.py:4: DtypeWarning: Columns (10,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,42,55,62,686,720,941,1022) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:/Users/acer/Downloads/PHL-PSA-NMS-2018-PUF/NMS PUF 2018  Individual.csv")
C:\Users\acer\AppData\Local\Temp\ipykernel_26752\2184951454.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['PreviousResidence_Code'] = replace_non_numeric_with_na(df1['PreviousResidence_Code'])
C:\Users\acer\AppData\Local\Temp\ipykernel_26752\2184951454.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['CurrentResidence_Code'] = replace_non_numeric_with_na(df1['CurrentResidence_Code'])

In [63]:
main = df1[(df1['PreviousResidence_Code'] != df1['CurrentResidence_Code']) & 
            (df1['CurrentResidence_Code'].notna()) & 
            (df1['PreviousResidence_Code'].notna())].copy()
main['PreviousResidence_Code'] = main['PreviousResidence_Code'].astype(int)
main['CurrentResidence_Code'] = main['CurrentResidence_Code'].astype(int)

In [64]:
main

       PreviousResidence_Code  CurrentResidence_Code
44                         39                     28
95                         74                     28
167                        45                     28
184                        55                     28
321                        39                     28
...                       ...                    ...
46343                      75                     59
46367                      74                     59
46377                       4                     59
46379                       4                     59
46386                      39                     59

[1480 rows x 2 columns]

In [65]:
# Define the province mapping
province_dict = {
    "1": "ABRA", "2": "AGUSAN DEL NORTE", "3": "AGUSAN DEL SUR",
    "4": "AKLAN", "5": "ALBAY", "6": "ANTIQUE", "7": "BASILAN",
    "8": "BATAAN", "9": "BATANES", "10": "BATANGAS", "11": "BENGUET",
    "12": "BOHOL", "13": "BUKIDNON", "14": "BULACAN", "15": "CAGAYAN",
    "16": "CAMARINES NORTE", "17": "CAMARINES SUR", "18": "CAMIGUIN",
    "19": "CAPIZ", "20": "CATANDUANES", "21": "CAVITE", "22": "CEBU",
    "23": "DAVAO DEL NORTE", "24": "DAVAO DEL SUR", "25": "DAVAO ORIENTAL",
    "26": "EASTERN SAMAR", "27": "IFUGAO", "28": "ILOCOS NORTE",
    "29": "ILOCOS SUR", "30": "ILOILO", "31": "ISABELA", "32": "KALINGA",
    "33": "LA UNION", "34": "LAGUNA", "35": "LANAO DEL NORTE",
    "36": "LANAO DEL SUR", "37": "LEYTE", "38": "MAGUINDANAO",
    "39": "NCR, CITY OF MANILA, FIRST DISTRICT", "40": "MARINDUQUE",
    "41": "MASBATE", "42": "MISAMIS OCCIDENTAL", "43": "MISAMIS ORIENTAL",
    "44": "MOUNTAIN PROVINCE", "45": "NEGROS OCCIDENTAL", "46": "NEGROS ORIENTAL",
    "47": "COTABATO (NORTH COTABATO)", "48": "NORTHERN SAMAR", 
    "49": "NUEVA ECIJA", "50": "NUEVA VIZCAYA", "51": "OCCIDENTAL MINDORO",
    "52": "ORIENTAL MINDORO", "53": "PALAWAN", "54": "PAMPANGA",
    "55": "PANGASINAN", "56": "QUEZON", "57": "QUIRINO", "58": "RIZAL",
    "59": "ROMBLON", "60": "SAMAR (WESTERN SAMAR)", "61": "SIQUIJOR",
    "62": "SORSOGON", "63": "SOUTH COTABATO", "64": "SOUTHERN LEYTE",
    "65": "SULTAN KUDARAT", "66": "SULU", "67": "SURIGAO DEL NORTE",
    "68": "SURIGAO DEL SUR", "69": "TARLAC", "70": "TAWI-TAWI",
    "71": "ZAMBALES", "72": "ZAMBOANGA DEL NORTE", "73": "ZAMBOANGA DEL SUR",
    "74": "NCR, SECOND DISTRICT", "75": "NCR, THIRD DISTRICT", 
    "76": "NCR, FOURTH DISTRICT", "77": "AURORA", "78": "BILIRAN", 
    "79": "GUIMARAS", "80": "SARANGANI", "81": "APAYAO", 
    "82": "COMPOSTELA VALLEY", "83": "ZAMBOANGA SIBUGAY",
    "85": "DINAGAT ISLANDS", "86": "DAVAO OCCIDENTAL", 
    "97": "ISABELA CITY", "98": "COTABATO CITY", "99": "NO INFORMATION"
}

main['PreviousResidence'] = main['PreviousResidence_Code'].astype(str).map(province_dict).fillna(main['PreviousResidence_Code'])
main['CurrentResidence'] = main['CurrentResidence_Code'].astype(str).map(province_dict).fillna(main['CurrentResidence_Code'])

In [66]:
main

,PreviousResidence_Code,CurrentResidence_Code,PreviousResidence,CurrentResidence
44,39,28,"NCR, CITY OF MANILA, FIRST DISTRICT",ILOCOS NORTE
95,74,28,"NCR, SECOND DISTRICT",ILOCOS NORTE
167,45,28,NEGROS OCCIDENTAL,ILOCOS NORTE
184,55,28,PANGASINAN,ILOCOS NORTE
321,39,28,"NCR, CITY OF MANILA, FIRST DISTRICT",ILOCOS NORTE
...,...,...,...,...
46343,75,59,"NCR, THIRD DISTRICT",ROMBLON
46367,74,59,"NCR, SECOND DISTRICT",ROMBLON
46377,4,59,AKLAN,ROMBLON
46379,4,59,AKLAN,ROMBLON
46386,39,59,"NCR, CITY OF MANILA, FIRST DISTRICT",ROMBLON